@font-face {
  font-family:  'Super Mario';
  font-weight: 400;
  src: url('chlorinap/CHLORINP.TTF');
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('assets/bsd.png');
  overflow-x: hidden;
  box-sizing: border-box;
}

.game-container {
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.game-container__left,
.game-container__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* PLAYERS */

.player__img {
  height: 35rem;
  width: auto;
  margin-bottom: 3rem;
}

.player__name {
  border: 2px solid #fff;
  color: #fff;
  font-family: 'Super Mario';
  font-size: 4rem;
  border-radius: 3px;
  padding: 1rem;
  margin: 0 2rem;
  width: 20rem;
  text-align: center;
}

#mario {
  background: rgb(223, 32, 32);
}

#luigi {
  background: rgb(95, 204, 60);
}

.bounce {
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}

/* START BUTTON */

.start__btn-container {
  margin-top: 1rem;
}

.start__btn {
  border: 2px solid #ffffff;
  
  padding: 10px;
  background: #1c03ba;
  text-align: center;
  font-family: 'Super Mario';
  font-size: 30px;
  border-radius: 25%;
  color: #fff;
  cursor: pointer;
  width: 20rem;
  margin: auto;
}

/* BOARD */

.board {
  display: inline-block;
  margin-top: 20px;
}

.column {
  display: inline-block;
  margin: -2px;
}

.slot {
  background: #ffffff;
  border-radius: 100%;
  height: 9rem;
  width: 9rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixhole {
  height: 8rem;
 
  width: 8rem;
  border-radius: 100%;
  overflow: hidden;
  background: #630051;
  position: absolute;
  z-index: 0;
}

.hole {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-image: url('assets/coin.png');
  background-size: cover;
}

.slot.row5 .hole {
  transform: translateY(-100rem);
  transition: transform 1s;
}

.slot.row4 .hole {
  transform: translateY(-100rem);
  transition: transform 1s;
}

.slot.row3 .hole {
  transform: translateY(-100rem);
  transition: transform 1s;
}

.slot.row2 .hole {
  transform: translateY(-100rem);
  transition: transform 1s;
}

.slot.row1 .hole {
  transform: translateY(-100rem);
  transition: transform 1s;
}

.slot.row0 .hole {
  transform: translateY(-100rem);
  transition: transform 1s;
}

.pred.row5 .hole {
  background: rgb(223, 32, 32);
  transform: translateY(0);
  z-index: 1;
}

.pgreen.row5 .hole {
  background: rgb(95, 204, 60);
  transform: translateY(0);
  z-index: 1;
}

.pred.row4 .hole {
  background: rgb(223, 32, 32);
  transform: translateY(0);
  z-index: 1;
}

.pgreen.row4 .hole {
  background: rgb(95, 204, 60);
  transform: translateY(0);
  z-index: 1;
}

.pred.row3 .hole {
  background: rgb(223, 32, 32);
  transform: translateY(0);
  z-index: 1;
}

.pgreen.row3 .hole {
  background: rgb(95, 204, 60);
  transform: translateY(0);
  z-index: 1;
}

.pred.row2 .hole {
  background: rgb(223, 32, 32);
  transform: translateY(0);
  z-index: 1;
}

.pgreen.row2 .hole {
  background: rgb(95, 204, 60);
  transform: translateY(0);
  z-index: 1;
}

.pred.row1 .hole {
  background: rgb(223, 32, 32);
  transform: translateY(0);
  z-index: 1;
}

.pgreen.row1 .hole {
  background: rgb(95, 204, 60);
  transform: translateY(0);
  z-index: 1;
}

.pred.row0 .hole {
  background: rgb(223, 32, 32);
  transform: translateY(0);
  z-index: 1;
}

.pgreen.row0 .hole {
  background: rgb(95, 204, 60);
  transform: translateY(0);
  z-index: 1;
}

.mariowins,
.luigiwins {
  font-family: 'Super Mario';
  font-size: 5rem;
  color: white;
  border: 10px dashed white;
  display: inline-block;
  position: absolute;
  left: 5px;
  right: 5px;
  transform: translateX(-110%);
  transition: transform 1s;
}

.mariowins {
  background: rgb(223, 32, 32);
}

.luigiwins {
  background: rgb(95, 204, 60);
}

.winner {
  transform: translateX(0);
  z-index: 2;
}

.mariostarts,
.luigistarts {
  font-family: 'Super Mario';
  font-size: 6rem;
  border: 3px white;
  color: white;
  width: 30rem;
  border-radius: 4rem;
  position: absolute;
  top: 2.5rem;
  z-index: 2;
  transform: translateX(-100rem);
}

.mariostarts {
  background: rgb(223, 32, 32);
}

.luigistarts {
  background: rgb(95, 204, 60);
}

.start {
  animation-name: right;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

@keyframes right {
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}

@media (max-width: 1120px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 40%;
  }

  .game-container {
    margin-top: 20rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 30%;
  }

  .game-container {
    margin-top: 20rem;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 30%;
  }

  body {
    margin-top: 20rem;
    width: 650px;
    overflow: hidden;
  }
}
